@mixin small() {
    @media only screen and (max-width: 945px) {
        @content;
    }
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('font/ArchitectsDaughter-Regular.ttf');
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #eceeec;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 600px;
    width: 100%;

    @include small {
        padding-left: 15px;
        padding-right: 15px;
    }
    margin-left: auto!important;
    margin-right: auto!important;
}

.section {
    margin-top: 35px;
    margin-bottom: 35px;
}

.content {
    border-radius: 20px;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    background-color: white;
    
    font-family: 'Architects Daughter', cursive;
    color: #064037;

    a {
        color: #4CA55E;
        text-decoration: none;
    }
}

.header-img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content-body {
    padding: 55px;

    p {
        line-height: 1.8;
        text-align: justify;
    }
}

.content-body-title {
    margin-bottom: 40px;
    text-align: center;
}